<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand d-lg-none" href="#">Navbar</a>
    <div class="container-fluid">
        <a class="d-none d-lg-block navbar-logo-centered" href="#">
            <img src="../assets/star_wars_logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul *ngIf="!loginservice.getIsLogeado()" class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#" aria-current="page" (click)="open('login')">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link last" href="#" (click)="open('siging')">Sign Up</a>
                </li>
            </ul>
            <ul *ngIf="loginservice.getIsLogeado()" class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page">Hello!, {{loginservice.getUsuarioLogeado().name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link last" href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>





<div class="d-flex justify-content-center mb-3" style="z-index: 1000;position: relative;">
    <a class="nav-link" aria-current="page" routerLink="/">HOME</a>
    <a class="nav-link last" routerLink="ships/">STARSHIPS</a>
</div>

<div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>
