/* You can add global styles to this file, and also import other style files */
body { background-color: black!important; } 

.info{
    color:whitesmoke;
}

.error{
   color: #edd700
}

.success{
    color: aliceblue;
}